<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
</head>
<body>
<th:block layout:fragment="content">



    <h2 class="mb-4">장바구니 목록</h2>
    <table>  <!--15, 70 15-->
        <thead>
        <th>
            <input type="checkbox" id="checkAll" >
        </th>

        <th>상품정보</th>
        <th>상품금액</th>

        </thead>
        <tbody>
        <!--장바구니 데이터 반복해서 출력-->
        <th:block th:each="cartItem : ${cartDetailDTOList}">
            <tr>
                <td>
                    <input type="checkbox" name="cartChkBox" th:value="${cartItem.cartItemid}" onclick="checkAll()">
                </td>
                <td style="width: 70%">
                    <div class="row">

                        <div class="col">
                            <img th:src="${cartItem.imgUrl}" th:alt="${cartItem.itemNm}">
                        </div>

                        <div class="col pt-5">
                            <span class="fw-bold fs-3" th:text="${cartItem.itemNm}"></span>
                            <div class="d-flex align">
                                <span th:id="${'price_'+cartItem.cartItemid}" th:text="${cartItem.price}"></span>
                                <span class="ms-3">원</span>
                                <div class="row">
                                    <div class="col offset-4 d-flex align-items-center">
                                        <input type="number" th:id="${'count_' + cartItem.cartItemid}" class="form-control count" th:data-num="${cartItem.cartItemid}" min="1" th:value="${cartItem.count}">
                                        개 <button th:value="${cartItem.cartItemid}" class="btn removebtn"><i class="bi bi-x-square"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <!--참고-->
                <!--                let a =  Number($(".sumsalesAmountlist").text().replace(/,/g, ""))-->
                <!--                <span class="fs-4" th:text="${#numbers.formatDecimal(cartItem.price   * cartItem.count,3,'COMMA' ,0,'POINT')}"></span>-->

                <td style="width: 15%">
                    <span class="fs-4" th:text="${cartItem.price * cartItem.count}"> </span>
                </td>
            </tr>
        </th:block>


        </tbody>
    </table>

    <h2 class="text-center"> 총 주문 금액 :
        <span id="orderTotalPrice" class="text-danger">0원</span>
    </h2>

    <div class="text-center">
        <button type="button" class="btn btn-primary cartorders">주문하기</button>
    </div>


    <script>



        $(document).ready(function () {

            $(".cartorders").on("click", function () {
                orders()
            })

            $(".removebtn").on("click",function () {
                let cartItemid = $(this).val()

                let url = "/cartItem/" + cartItemid

                $.ajax({
                    url : url,
                    type: "delete",
                    dataType : "json",
                    success : function (result) {
                        location.href = "/cart"
                    },
                    error : function (result, status, error) {

                        if(result.status == '401'){
                            alert("로그인 후 이용해주세요")
                            location.href = "/members/login"
                        }else {
                            alert(result.responseText)
                        }
                    }
                })
            })

            $("#checkAll").on("click", function () {
                checkAll()
                getOrderTotalPrice()
            })
            // 맨 위의 onclick="checkAll()"과 같은 기능



            $("input[name=cartChkBox]").change(function () {
                getOrderTotalPrice()
            })


            $(".count").on("change", function () {
                // alert("수량이 변경되었습니다.")
                let countVal = $(this).val()
                let cartItemId = $(this).data("num")
                // alert(countVal)
                // alert(cartItemId)
                let url = "/cartItem"

                // 밑에 let CartItemDTO~ 는 굳이 안해도 되는데
                // 객체화 시켜서 편하게 쓰려고
                let CartItemDTO = {
                    itemid : cartItemId,
                    count : countVal
                }

                $.ajax({
                    url : url,
                    type : "post",
                    data : CartItemDTO,
                    success : function (result) {
                        // alert("성공 변경 수량")
                        alert("결과 : " + result)
                        orderTotarPrice()
                    },
                    error : function (result) {
                        console.log(result.responseText)    // todo: responseText가 뭔지 좀 알아볼것
                    }
                })
            })

            console.log($("checkAll"))

            function checkAll() {
                if ($("#checkAll").prop("checked")){

                    $("input[name=cartChkBox]").prop("checked", true);

                }else {
                    $("input[name=cartChkBox]").prop("checked", false);

                }

            }

            function getOrderTotalPrice() {

                let orderTotarPrice = 0;

                $("input[name=cartChkBox]:checked").each(
                    function () {
                        let cartItemid = $(this).val()
                        let price = $("#price_" + cartItemid).text()
                        let count = $("#count_" + cartItemid).val()

                        orderTotarPrice += price * count;

                    }
                )

                $("#orderTotalPrice").text(orderTotarPrice + ' 원 ')

            }

            function orders() {

                let url = "/cart/orders"

                let dataList = new Array();

                let paramData = new Object();

                $("input[name=cartChkBox]:checked").each(function () {
                    let cartItemid = $(this).val()
                    let data = new Object();
                    data["cartItemId"] = cartItemid;

                    dataList.push(data);

                })
                console.log(dataList)
                paramData["orderDTOList"] = dataList

                console.log(paramData)
                console.log(JSON.stringify(paramData))


                $.ajax({
                    url : url,
                    type : "post",
                    data : JSON.stringify(paramData),
                    contentType : "application/json; charset=UTF-8",
                    dataType: "json",
                    success : function (result) {
                        alert("주문이 완료 되었습니다.")
                        location.href = "/orders"
                    },
                    error : function (result, status, error) {
                        if (result.status == '401'){
                            alert("로그인 후 이용해주세요")
                            location.href = "/members/login"
                        }else{
                            alert(result.responseText)
                        }
                    }
                })



            }



        })



    </script>


</th:block>

</body>
</html>